<p>"This challenge aims to study multi-modal object localization in 3D virtual environments. More information on our website (https://github.com/chuangg/find_fallen_objects)
    Data: To support this challenge, we have generated a large-scale dataset,  the Fallen Objects dataset that includes 8000 instances of 30 physical object categories in 64 rooms. The dataset uses the ThreeDWorld Platform that can simulate physics-based impact sounds and complex physical interactions between objects in a photorealistic setting.
    Task: An object is dropped somewhere in a room. An embodied robot agent, equipped with camera and microphone, must determine what object has been
    dropped and where, by combining audio and visual signals with knowledge of the underlying physics."</p>
